Source: radarlib
Section: libdevel
Priority: optional
Maintainer: Enrico Zini <enrico@debian.org>
Build-Depends: debhelper (>= 12), dh-buildinfo, libhdf5-serial-dev
Standards-Version: 4.1.5

Package: libradar-dev
Architecture: any
Depends: libradar1 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Recommends: pkg-config
Description: libradar development
 Description to be written.

Package: libradar1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libradar shared library
 Description to be written.
